<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698417341584-sk96f1jgb5e3gpa591dqg94o1at5q8b4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698417341584-sk96f1jgb5e3gpa591dqg94o1at5q8b4</string>
	<key>API_KEY</key>
	<string>AIzaSyA2gA8S98u6DOvivxwFpGT7UUD-M3rz6sw</string>
	<key>GCM_SENDER_ID</key>
	<string>698417341584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todo0709</string>
	<key>PROJECT_ID</key>
	<string>todo-app-0709</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-0709.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698417341584:ios:d6a2a2cc955db4bec36415</string>
</dict>
</plist>